<h2>Signup page.....</h2>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="username" required />
  <input type="password" name="password" placeholder="password" required />
  <button type="submit">signup</button>
</form>
<a href="/login">Login</a>
